@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anton&family=Explora&family=Lobster&family=Mulish:wght@400;800&family=Pacifico&family=Rajdhani:wght@500&display=swap');


* {
  font-family: 'Mulish', sans-serif; 
  color:white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: auto; 
}

body {
  width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

h1 {
  font-family: 'Abril Fatface', cursive; 
  font-size: 7em;
  color: white;
  border-radius: 5px;
}

p {
  font-size: 24px;
  font-family: 'Rajdhani', sans-serif;
  letter-spacing: 5px;
  color: #E0B115;
  font-weight: 800;
  background-color: rgba(0,0,0,0.4);
  border-radius: 10px;
}

#logo{
  width: 120px;
}

@keyframes animateDown {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(5px);
  }

  60% {
    transform: translateY(3px);
  }
}