@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

* {
  font-family: 'Rubik', sans-serif;
  color:white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: auto; 
}

body {
  width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 32px;
}

p {
  font-size: 14px;
}

#logo{
  width: 120px;
}

@keyframes animateDown {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(5px);
  }

  60% {
    transform: translateY(3px);
  }
}